USE [master]
GO
/****** Object:  Database [DotNetCoreCrudDB]    Script Date: 10/18/2020 11:03:36 PM ******/
CREATE DATABASE [DotNetCoreCrudDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DotNetCoreCrudDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MAMUNSQL\MSSQL\DATA\DotNetCoreCrudDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DotNetCoreCrudDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MAMUNSQL\MSSQL\DATA\DotNetCoreCrudDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DotNetCoreCrudDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DotNetCoreCrudDB]
GO
/****** Object:  Table [dbo].[StudentInfo]    Script Date: 10/18/2020 11:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentInfo](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StudentInfo] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
